@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skriv custom CSS här */

* {
  color: blue;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  .background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/clouds.png');
    background-size: cover;
    background-position: center;
  }

  .plane {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-option {
    position: absolute;
    color: black;
    font-size: 34px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
  }

  .menu-option:hover {
    transform: scale(1.1);
  }

  .start {
    left: 15%;
    top: 50%;
  }

  .options {
    right: 15%;
    top: 50%;
  }

  .credits {
    right: 5%;
    top: 5%;
  }

  .title {
    position: absolute;
    color: black;
    font-size: 48px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

